.loadbutton {
  height: 35px;
  width: 130px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: rgb(92, 92, 92);
  color: rgb(240, 240, 240);
}

.loadbutton:hover {
  background-color: rgb(129, 129, 129);
  cursor: pointer;
}
