.searchbarContentContainer {
  margin-bottom: 30px;
}

.searchbar {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.searchbar input {
  display: flex;
  border: none;
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  height: 40px;
  width: 300px;
  border: 1px solid #dadada;
  outline: none;
  font-size: 16px;
}

.searchbar input:hover {
  border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

.searchbar input:focus {
  border-color: #4d90fe;
}
.pokemonDropdownContainer {
  margin: auto 0 auto 0;
}

.filterText {
  color: rgb(128, 128, 128);
}

.filterbuttonContainer {
  margin: auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}

@media only screen and (max-width: 600px) {
  .searchbar {
    flex-direction: column;
  }

  .searchbar input {
    margin: 5px auto;
  }
}
