.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 500px;
  position: relative;
}

.title {
  margin-top: 20px;
  margin-bottom: 15px;
}

.searchbarContainer {
  margin: auto;
}

.pokemonContentContainer {
  width: 85%;
  display: flex;
  margin: auto;
  place-content: center;
}

.loadbuttonContainer {
  height: 70px;
  margin: auto;
}
