.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 500px;
  position: relative;
}

.searchbarContainer {
  margin: 15px auto;
}

.pokemonContentContainer {
  width: 85%;
  display: flex;
  margin: auto;
  place-content: center;
}
