.pokemonItemContainer {
  position: relative;
  height: 150px;
  width: 150px;
  border: 1px solid grey;
}

.pokemonSprite {
  width: 70%;
}

.pokemonName {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(70, 70, 70, 0.6);
}
