.contentSelectorButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contentSelector {
  width: 300px;
  height: 30px;
  margin: 3px;
  border-radius: 7px;
  background-color: rgb(92, 92, 92);
  color: rgb(240, 240, 240);
  border: 1px solid grey;
}
